h1{
    font-size: 26px;
    color: violet;
}

h2{
    font-size: 22px;
    color: white;
}

textarea{
    background-color: lightblue;
    color: white;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(pexels-steve-johnson-1789968.jpg); 
    background-size: cover;
    background-position: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255); /* Adjust the alpha value to change the opacity of the box */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adding box shadow for better visibility */
    width: 80%; /* Set width to 80% of the viewport */
    max-width: 800px; /* Set maximum width */
    height: 80vh; /* Set height to 80% of the viewport height */
    max-height: 600px; /* Set maximum height */
    background-color: purple;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.button-container button {
    background: none;
    border: none;
    font-size: 16px;
}

.columns-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

textarea {
    width: 45%;
    height: 25px;
}

.big-textarea {
    width: 330px;
    height: 150px;
    margin-bottom: 10px;
}


